/*CSS DA PÁGINA INICIAL*/
body{
    background-color: rgba(139, 66, 17, 0.705);
}

.contato li {
    font-size: 50px;
}

.contato {
    text-align: center;
    margin-bottom: 5%;
}

h3 {
    font-size: 50px;
    display: inline-block;
    position: absolute;
    top: 80px;
    left: 300px;
}

h4{
font-size: 50px;
display: inline-block;
position: absolute;
top: 120px;
left: 300px;
}

header{
    background-color: green;
}

nav li{
    display:inline;
    margin-right:19px;
}

nav a:hover {
       color: rgb(141, 129, 129);
       text-decoration:underline;
}

nav a{
    text-transform: uppercase;
    color: rgb(4, 61, 4);
    font-weight: bold;
    font-size: 42.5px;
    text-decoration: none;
}

nav{
    position:absolute;
    top: 100px;
    right: 10px;
}

.caixa{
    position:relative;
    margin-top:0px auto;

}

.logo{
    width: 12%;
    border-color: #7fffd4;
    border-radius: 10px;
    border-style: groove;
    border-width: 30px;
    width: 200px;
}
.banner1{
   width: 100%;
   padding: 5%;
   
}
header {
    background-color: rgb(150, 212, 142);
}

ul{
    margin-left: 25px;
    font-style:normal;
    font-size: 30px;
    color: black;

}
    .titulo-principal{
        text-align: center;
        font-size: 4em;
        margin: 0 0 1em;
        clear: left;
    }
    
    .imagem{
        background-color: rgb(141, 129, 129);
        width: 120%;
    }
    
    .texto p, .contato p{
     margin: 3 3 1em;
    }
    
    .imagem-principal{
        width: 900px;
        margin: 0 20px 20px 0;
    }
    
    .banner2{
        font-size: 40px;
        margin-bottom: 5%;
    }

/*AQUI COMEÇA O FOOTER*/
footer {
text-align: center;
}

.rodape{
background-color: rgb(141, 133, 133);
padding: 24px;
width: 100%;
}

footer img {
width: 10%;
}

.copyright {
font-size: 70px;
margin: 20px 0;
}

/*CONTATO*/
main {
   width: 940px;
   margin: 0 auto; 
}

form {
 margin: 40px 0;
}

form label, form p {
    display: block;
    font-size: 20px;
    margin: 10px 0 0;
}

.input padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 30px;
    width: 30%;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
     width: 40%;
     padding: 15px 0;
     background: aquamarine;
     color: black;
     font-weight: bold;
     font-size: 18px;
     border: none;
     border-radius: 5px;
     transition: 1s all;
     cursor: pointer;
}

.enviar:hover {
background: rgb(141, 129, 129);
transform: scale(1.2);
}

table {
    margin: 20px 0 40px;
}

thead{
    background: rgb(141, 129, 129);
    color: black;
    font-weight: bold;

}

td, th{
    border: 1px solid rgb(36, 36, 109);
    padding: 8px 15px;

}

h3 {
    font-size: 50px;
    display: inline-block;
    position: absolute;
    top: 80px;
    left: 300px;
}

h4{
font-size: 50px;
display: inline-block;
position: absolute;
top: 120px;
left: 300px;
}

/*AQUI COMEÇA A EDIÇÃO DA GALERIA*/
.imagens-animais {
    width: 100px;
    border-radius: 100%;
    display: inline-block;
    align-items: center;
}

h2{
    font-size: 80px;
    background: darkcyan;
}

p{
    font-size: 40px;
}

ul{
    margin-left: 25px;
    font-style:normal;
    color: rgb(36, 36, 109);
}

.fotos-animais {
    width: 1440;
    margin: 0 auto;
    padding: 50px 0;
}

.fotos-animais li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 0px;
    box-sizing: border-box;
    border: 2px solid rgb(141, 129, 129);
    border-radius: 10px;
}

.fotos-animais li:hover{
    border-color: black; 
}

.fotos-animais li:hover h2{
font-size: 34px;
color: black;
}

.fotos-animais li:active {
    border-color: rgb(36, 36, 109);
    border-width: 4px;
}

.fotos-animais img{
    width: 330px;
    height: 200px;
}

.fotos-animais h2{
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 15px;
}

.descricao{
    font-size: 18px;
}

h3 {
    font-size: 50px;
    display: inline-block;
    position: absolute;
    top: 80px;
    left: 300px;
}

h4{
font-size: 50px;
display: inline-block;
position: absolute;
top: 120px;
left: 300px;
}

/*AQUI COMEÇAM AS MATÉRIAS*/
.materia {
display: inline-block;
text-align: center;
width: 30%;
vertical-align: top;
margin: 0 1.5%;
padding: 30px 0px;
}


    
    


